{% extends "base.html" %}
{% load static %}
{% block content %}

<form method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Login</button>
  </form>


{% endblock %}

{% block scripts %}
<script>
  function call_login(){
    $.ajax({
      method: 'POST',
      url: "/loggin/", 
      context: {
        uname = $('#usernme').val(),
        passw = $('#pass1').val()
      },
      success: function(result){
        alert("success")
      // $("#div1").html(result);
  }});
  }
</script>
{% endblock %}
