<style>
    .btn-link {
        color: #212529 !important;
    }
    /* .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
     }  */
</style>
<div class="footer">
    <p  style="text-align: center;padding-top: 20px;">Copyright &copy; 2020  | 
        <button type="button" class="btn btn-link" style="padding: 0 5px;"  data-toggle="modal" data-target="#termsConditions" > Terms and conditions </button> | 
        <button type="button" class="btn btn-link" style="padding: 0 5px;"  data-toggle="modal" data-target="#privacyPolicy" > Privacy policy </button>
    </p>
</div>

  <div class="modal fade" id="termsConditions" tabindex="-1" role="dialog" aria-labelledby="orange-modal-label" data-color="orange">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="orange-modal-title"> Terms and conditions </h4>
          <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
            <p>
                Your use of the Platform and services and tools are governed by the following terms and 
                conditions ("Terms of Use") as applicable to the Platform including the applicable policies 
                which are incorporated herein by way of reference. If You transact on the Platform, 
                You shall be subject to the policies that are applicable to the Platform for such transaction.
                 By mere use of the Platform, You shall be contracting with Flipkart Internet Private Limited
                  and these terms and conditions including the policies constitute Your binding obligations, with Flipkart.
            </p>
            <p>
                For the purpose of these Terms of Use, wherever the context so 
                requires "You" or "User" shall mean any natural or legal person 
                who has agreed to become a buyer on the Platform by providing 
                Registration Data while registering on the Platform as Registered
                User using the computer systems. Flipkart allows the User to surf
                the Platform or making purchases without registering on the Platform. 
                The term "We", "Us", "Our" shall mean Flipkart Internet Private Limited.
            </p>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-close" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="privacyPolicy" tabindex="-1" role="dialog" aria-labelledby="orange-modal-label" data-color="orange">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="orange-modal-title"> Privacy policy  </h4>
          <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <p>
            Returns is a scheme provided by respective sellers directly under this policy in terms of 
            which the option of exchange, replacement and/ or refund is offered by the respective sellers to you. 
            All products listed under a particular category may not have the same returns policy. For all products, 
            the policy on the product page shall prevail over the general returns policy. Do refer the respective item's 
            applicable return policy on the product page for any exceptions to the table below.
        </p>
         <p>
            The return policy is divided into three parts; Do read all sections carefully to understand 
            the conditions and cases under which returns will be accepted.
          </p>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-close" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>