{% extends "base.html" %}

{% load static %}
{% load humanizelib  %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<style>
  
</style>
<div class="row">
  <div class="col-2 ">
    <div class="sidenav">
      <a href="/products" class="active"> Mobiles </a>

      <a href="/products/laptops"> Laptops </a>
    </div>

  </div>
  <div class="col-9">
    <div class="row">
      {% if products %}
      {% for c in products %}
        <div class="col-4 m-10">
          <div class="card" style="width: 18rem;">
              <img src="{% static 'img/c1.jpg' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title txt-cntr">{{c.model}} ( {{c.color}} )</h5>
                <p class="card-text txt-cntr">{{c.ram}} ({{c.rom}})</p>
              </div>
              <ul class="list-group list-group-flush ">
                <!-- <li class="list-group-item"></li> -->
                <li class="list-group-item txt-cntr">{{c.front_camera}} | {{c.rear_camera}}</li>
                <li class="list-group-item txt-cntr">{{c.battery}}</li>
                <!-- <li class="list-group-item txt-cntr">{{c.price}}</li> -->
              </ul>
              <div class="card-body txt-cntr">
                <div class=""> <p> <strong> <i class="fa fa-rupee" style=""></i> {{c.price|intcomma}} </strong> </p> </div>
                <a href="/products/get_cell_details?cell_id={{c.id}}" class="card-link">view details</a>
                <!-- <a href="#" class="card-link">Another link</a> -->
              </div>
            </div>
        </div>
      {% endfor %}
      {% endif %}
    </div>
  </div>
</div>

  

<button type="button" class="btn btn-primary" >
    <a href="/products/add_cellphones " class="clr-white">Add cellphones </a>
</button>


  
  
  <script>
 
  </script>

{% endblock %}