{% extends "base.html" %}

{% load static %}
{% load humanizelib  %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">


  <div class="row mt-10">
  {% if products %}
  {% for c in products %}
    <div class="col-3 m-10">
      <div class="card" style="width: 18rem;">
          <img src="{% static 'img/c1.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title txt-cntr">{{c.model}} ( {{c.color}} )</h5>
            <p class="card-text txt-cntr">{{c.ram}} ({{c.rom}})</p>
          </div>
          <ul class="list-group list-group-flush ">
            <!-- <li class="list-group-item"></li> -->
            <li class="list-group-item txt-cntr">{{c.front_camera}} | {{c.rear_camera}}</li>
            <li class="list-group-item txt-cntr">{{c.battery}}</li>
            <!-- <li class="list-group-item txt-cntr">{{c.price}}</li> -->
          </ul>
          <div class="card-body txt-cntr">
            <div class=""> <p> <strong> <i class="fa fa-rupee" style=""></i> {{c.price|intcomma}} </strong> </p> </div>
            <a href="/products/get_cell_details?cell_id={{c.id}}" class="card-link">view details</a>
            <!-- <a href="#" class="card-link">Another link</a> -->
          </div>
        </div>
    </div>
  {% endfor %}
  {% endif %}

</div>
<button type="button" class="btn btn-primary" >
    <a href="/products/add_cellphones " class="clr-white">Add cellphones </a>
</button>


  
  
  <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Launch demo modal
  </button> -->
  <!-- Button trigger modal -->
<!-- <button id="orange-button" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#orange-modal" data-color="orange">
    Add cellphones
  </button> -->
  
  <!-- Modal -->
  <!-- <div class="modal fade" id="orange-modal" tabindex="-1" role="dialog" aria-labelledby="orange-modal-label" data-color="orange">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="orange-modal-title"></h4>
        </div>
        <div class="modal-body">
          
<form method="post">
    {% csrf_token %}
    {{ form }}
    <input class="btn btn-primary" type="submit" value="Submit">
</form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-close" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div> -->


  
  
  <script>
 
  </script>

{% endblock %}