{% extends "base.html" %}

{% load static %}
{% load humanizelib  %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/base.css' %}">

<div class="row">
        {% if product %}
    <div class="col-4"></div>
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <img src="{% static 'img/c1.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title txt-cntr"> {{product.model}} ( {{product.color}} ) </h5>
                  <p class="card-text txt-cntr"> {{product.ram}} ({{product.rom}}) </p>
                </div>
                <ul class="list-group list-group-flush ">
                  <li class="list-group-item txt-cntr"> {{product.name}} </li>
                  <li class="list-group-item txt-cntr">{{product.front_camera}} | {{product.rear_camera}}</li>
                  <li class="list-group-item txt-cntr">{{product.battery}}</li>
                  <!-- <li class="list-group-item txt-cntr">{{product.price}}</li> -->
                </ul>
                <div class="card-body txt-cntr">
                  <div class=""> <p> <strong> <i class="fa fa-rupee" ></i> {{product.price|intcomma}} </strong> </p> </div>
                  <a href="get_cell_details?cell_id={{c.id}}" class="card-link">view details</a>
                  <!-- <a href="#" class="card-link">Another link</a> -->
                </div>
        </div>
    </div>
    <div class="col-4 btn-bck mt-30 pl-50">
        <button type="button" class="btn btn-primary" >
            <a href="/products" class="clr-white">Go Back </a>
    </button>
    </div>

    {% endif %}
</div>



{% endblock %}